body {
    font-family: Arial, Helvetica, sans-serif;
}

section {
    margin: 0 auto;
    width: 50%;
}

header {
    text-align: center;
    background-color: rgb(245, 0, 0);
    margin: 0 auto;
    width: 70%;
}

.titulo-tagline {
    text-decoration: dotted;
    font-size: small;
}

#titulo-post {
    border-bottom: 2px #333 solid;    
}

#cotenido-post {
    padding: 10px;
}

footer {
    margin: 0 auto;
    width: 70%;
    border-top: 2px #333 solid;
}